@import "tailwindcss";
@theme {
  --color-purple-300: #e0e7fe;  /* Light Purple */
  --color-purple-500: #3e38a7;
  --color-purple-600: #5046e4;  /* Dark Purple */
}
.twitter-embed-container iframe {
  max-height: 400px;
  overflow: hidden !important;
}
